aniso8601==9.0.1
attrs==21.2.0
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
cx-Oracle==8.3.0
Deprecated==1.2.13
flasgger==0.9.5
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Limiter==2.0.4
flask-redis==0.4.0
Flask-RESTful==0.3.9
importlib-metadata==4.8.2
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.3.2
limits==2.1.0
MarkupSafe==2.0.1
mistune==2.0.0
numpy==1.21.5
packaging==21.3
pandas==1.3.5
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
redis==4.1.0
six==1.16.0
typing-extensions==4.0.1
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.13.3
zipp==3.6.0
